// Microsoft Visual C++ で生成されたリソース スクリプトです。
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE 2 リソースから生成されました。
//
#include "winres.h"

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// 英語リソース

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE 0x09, 0x01

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE  
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE  
BEGIN
    "#include ""winres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE  
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // 英語リソース
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE 3 リソースから生成されました。
//


/////////////////////////////////////////////////////////////////////////////
#endif    // APSTUDIO_INVOKED でない場合

IDI_APPICON ICON   "ymfmidi.ico"
IDI_SLEEPICON ICON "ymfmidi_sleep.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,6,2,1
 PRODUCTVERSION 0,6,2,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "\0"
            VALUE "FileVersion", "0, 6, 2, 1\0"
            VALUE "LegalCopyright", "Copyright (C) 2025 SimK\0"
            VALUE "ProductVersion", "0, 6, 2, 1\0"
            VALUE "FileDescription", "ymfmidi for Windows\0"
            VALUE "ProductName", "ymfmidi for Windows\0"
            VALUE "InternalName", "ymfmidiwin\0"
            VALUE "OriginalFilename", "ymfmidiwin.exe\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ABOUT DIALOGEX 0, 0, 200, 80
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 9, "MS Shell Dlg"
BEGIN
ICON            IDI_APPICON, -1, 10, 10, 32, 32
LTEXT           "Software FM MIDI Synthesizer", IDC_STATIC, 50, 6, 130, 10
LTEXT           "ymfmidi for Windows", IDC_TITLE_LABEL, 50, 16, 130, 10
LTEXT           "", IDC_VERSION, 50, 26, 130, 10
LTEXT           "This softwerare includes components licensed under the BSD License. See LICENSE.txt for details.", IDC_STATIC, 12, 38, 178, 40
DEFPUSHBUTTON   "OK", IDOK, 70, 60, 60, 14
END

